#canvas {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 33.33%;
}
